[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-committers
	read = group GitHub Replication
[project]
	description = Hyperledger Fabric SDK in Node
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-committers
	pushTag = group ldap/hyperledger-gerrit-fabric-committers
	pushSignedTag = group ldap/hyperledger-gerrit-fabric-committers
