[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	owner = group ldap/hyperledger-gerrit-fabric-sdk-node-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	create = group ldap/hyperledger-gerrit-fabric-sdk-node-committers
[project]
	description = Hyperledger Fabric SDK in Node
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	push = group ldap/hyperledger-gerrit-fabric-sdk-node-committers
	createTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createTag = group ldap/hyperledger-gerrit-fabric-sdk-node-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-sdk-node-committers
