[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-committers
	read = group GitHub Replication
	create = group ldap/hyperledger-gerrit-fabric-committers
[project]
	description = Hyperledger Fabric SDK in Node
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-committers
	createTag = group ldap/hyperledger-gerrit-fabric-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-committers
